
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
body{
    background-color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*header style*/
.main-header {
 background-color: black;
 opacity: 30%;
 width: 100%;
 position: relative;
 height: auto;
 
}
.main-header h1 {
    color: #c5c6d0;
    font-size: 5.1vh;
    font-family:  'Fira Mono', monospace;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* Bio Style*/
.container {
    display: flex;
    background-color: #c5c6d0;
    opacity: 60%;
    font-family: 'Fira Mono', monospace;
    align-items: center;
    justify-content: center;
}
.container-bio{
  position: relative;
    background-color: #ccc;
    opacity: 60%;
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.bio h1 {
    font-size: 2vw;
    font-family: 'Fira Mono', monospace;
    padding-left: 5%;
    margin-left: 9%;
}
/*portfolio*/

.header {
    background-color: #c5c6d0;
    opacity: 60%;
    font-family: 'Fira Mono', monospace;
    border: 5px solid #333333;  
}


.master {
  background-color: #c5c6d0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 12px;
}

.containerl {
    position: relative;
    width: 50%;
    border-radius: 12px;
  }
  .containerr {
    position: relative;
    width: 50%;
    border-radius: 12px;
  }
  .containerlarge {
    position: relative;
    width: 100%;
    border-radius: 12px; 
  }
   
.containerl img {

  border-radius: 12px;
}
.containerr img{

  border-radius: 12px;
}
.containerlarge img {

  border-radius: 12px; 
}
  .image {
    display: block;
    width: 100%;
    height: auto;
   
  }
 
  .image-bio img {
     display: block;
    width: 20vw;
    height: auto;
    box-shadow: 1vw 1vh;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 9%;
    border-radius: 12px;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
  }

.containerl:hover .overlay {
  opacity: 1;
}
.containerr:hover .overlay {
    opacity: 1;
  }
  .containerlarge:hover .overlay {
    opacity: 1;
  }

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  a {
      width: 50%;
  }
 .contact {
    width: 100%;
}
.contact h1 {
    text-align: center;
}
.contact h2 {
   text-decoration: none;
    color: #c5c6d0;
    background-color: #333333;
    text-shadow: 2px 2px;
    text-align: center;
   
    margin-bottom: 2%;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .main-header h1 {
        color: #c5c6d0;
        font-size: 20px;
        font-family:  'Fira Mono', monospace;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .bio h1 {
        font-size: 2vw;
        font-family: 'Fira Mono', monospace;
        margin-right: 20px;
       
       
    
    }
    .image-bio img {
     
        width: 50%;
        height: auto;
        box-shadow: 10px 10px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .container-bio{
        background-color: #c5c6d0;
        opacity: 60%;
        display: flex;
        height: auto;
        margin-bottom: 5px;
      
        
    }
    .header h1 {
      font-size: 10px; 
  }
}






